####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
/electrum.py
contrib/pyinstaller/
Electrum_VTC.egg-info/
gui/qt/icons_rc.py
gui/vtc/icons_rc.py
gui/vtc/style_rc.py
locale/
.devlocaltmp/
*_trial_temp
packages
env/
.tox/
.buildozer/
bin/
contrib/build-wine/tmp/
.vscode
