####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
/electrum.py
contrib/pyinstaller/
Electrum_VTC.egg-info/
gui/qt/icons_rc.py
locale/
.devlocaltmp/
*_trial_temp
packages
env/
.tox/
.buildozer/
bin/
contrib/dns/
contrib/ecdsa/
contrib/jsonrpclib/
contrib/pyaes/
contrib/qrcode/
contrib/socks.py
contrib/sockshandler.py
contrib/pbkdf2.py
contrib/build-wine/tmp/
.vscode/settings.json